.footer__inner {
    display: flex;
    align-items: center;
}

.footer__logo-text {
    font-size: 1rem;
    display: flex;
}

@media screen and (min-width: 990px) {
    .footer__logo-text {
        font-size: 1.8rem;
    }
}

.footer__logo-text a {
    border: none;
    padding: .5rem 0;
}

@media screen and (min-width: 750px) {
    .footer__logo-text a {
        padding: 1rem 0;
    }
}

.footer__logo-text a:hover,
.footer__logo-text a:focus,
.footer__logo-text a:focus-visible {
    color: inherit;
    background-color: transparent;
}

.footer__logo-text a:focus,
.footer__logo-text a:focus-visible {
    outline: .1rem solid var(--color-light);
    outline-offset: -.1rem;
}

.footer__links {
    margin-left: auto;
}

.footer__links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

@media screen and (min-width: 990px) {
    .footer__links ul {
        gap: 3rem;
    }
}

.footer__links li {
    font-size: 1rem;
    display: flex;
}

@media screen and (min-width: 990px) {
    .footer__links li {
        font-size: 1.4rem;
    }
}