:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 62.5%;
  --color-darkgray: #37353E;
  --color-gray: #44444E;
  --color-blue: #40E0D0;
  --color-light: #D3DAD9;

  --main-padding: 1.5rem;

  color: var(--color-light);
  background-color: var(--color-darkgray);
}

@media screen and (min-width: 750px) {
  :root {
    --main-padding: 3rem;
  }
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#root {
    width: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-size: 1.6rem;
  background-image: url("bg.png");
  background-size: cover;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}

.page-width {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--main-padding);
}

a {
  color: var(--color-light);
  text-decoration: inherit;

  padding: 1rem 1.8rem;
  border-bottom: .3rem solid transparent;
  transition: 
    background-color .8s, 
    border-color .8s,
    border-radius .8s,
    color .8s;
}

a:hover,
a:focus, a:focus-visible {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
  border-radius: 1.5rem;
  color: var(--color-darkgray);
  outline: none;
}

.container {
  backdrop-filter: blur(.3rem);
}